<mat-toolbar color="primary">
    <span *ngIf="!userIsAuthenticated">
        <a routerLink="/">Battaglia Navale</a>
    </span>
    <span *ngIf="userIsAuthenticated">
      <button mat-button (click)="onOverview()">Battaglia Navale</button>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/signup" routerLinkActive="mat-accent">SignUp</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onGames()">Games</button>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()" >Logout</button>
        </li>
    </ul>
</mat-toolbar>
